/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Card  */

.todowrapper {
  padding: 35px 10px;
  width: 60%;
  margin: auto;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form#todoForm {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row {
  justify-content: center;
  margin: 0;
  padding: 0;

}

button#add {
  width: 80%;
}

.todo {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
}

.todo .row, .title{
  display: flex;
  justify-content: space-between;
  border: 3px solid navy;
  border-radius: 4px;
  padding: 10px;
  background: #131c37;
  color: whitesmoke;
  font-size: 15px;
}
.title {
  justify-content: space-around;
  border: 1px dotted whitesmoke;
  background: #141985;
}
.icon {
  margin: 0px 10px;
  font-size: 18px;
}
svg.svg-inline--fa.fa-trash.icon {
  color: #ff3737;
}

svg.svg-inline--fa.fa-pen-to-square.icon {
  color: #ffbc00;
}